<footer class="page-footer deep-purple footer">
    <div class="footer-copyright">
        <div class="container center">
            &copy; @DateTime.Now.Year <a href="https://brownwolfstudio.com/" target="_blank" class="grey-text text-lighten-4">Brown Wolf Studio</a>
        </div>
    </div>
</footer>