<div class="col s12 center" style="display: grid; align-items: center; justify-content: center; height: calc(100vh - 60vh);">
    <h4>Welcome to <a href="https://github.com/TheBinaryGuy/MVCWebApiStarter">MVCWebApiStarter</a></h4>
</div>